<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2019 - @DateTime.Now.Year Uploader -
        <small>
            Version @WebConstants.APP_VERSION
        </small>
    </div>
</footer>
