@{
    ViewData["Title"] = "Home Page";
}

@section styles{

    <link href="~/lib/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet" />
}

<br/>
<h3>
    Upload File
</h3>
<br />


<div id="main-content" style="padding:20px; position:relative;">

    <div id="vue-div">
        <div v-if="isUploading" class="progress-overlay">
            <p class="text-left">
                {{uploadedBytes}} / {{totalSize}} @@ {{speed}}/s
            </p>

            <div class="progress" style="height:30px">
                <div class="progress-bar bg-success"
                     aria-valuenow="{{ progress }}"
                     aria-valuemin="0"
                     aria-valuemax="100"
                     v-bind:style="{height:'30px',width:progress + '%'}">

                    <h5 class="text-center">
                   
                        {{progress}}%

                    </h5>
                </div>
            </div>
            <br/>
            <p class="text-center">
                <i class="fa fa-circle-notch fa-spin"></i>

                Uploading ...
            </p>
        </div>
    </div>
    <br />

    <div id="form-div">
        <form id="upload-form"
              method="post"
              asp-controller="Upload"
              asp-action="Index"
              enctype="multipart/form-data">

            <input id="file-upload-input" name="File" type="file" multiple />
            <br />
            <br />
            <button type="button" onclick="uploader.upload();" class="btn btn-primary btn-block">
                Submit
            </button>
        </form>
    </div>

</div>

@section scripts{

    <script src="~/lib/bootstrap-fileinput/js/fileinput.min.js"></script>

    <script src="~/js/uploader.js"></script>

    <script type="text/javascript">

        var uploader = new Uploader("#file-upload-input", "#vue-div");

    </script>
}