@{
    ViewData["Title"] = "Home Page";
}

@section styles{

    <link href="~/lib/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet" />
}


<h3>
    Upload your file
</h3>
<br />


<div id="main-content" style="padding:20px;">

    <div id="vue-div">
        {{uploadedBytes}} / {{totalSize}} @@ {{speed}}/s
        <div class="progress" style="height:30px">
            <div class="progress-bar"
                 aria-valuenow="25"
                 aria-valuemin="0"
                 aria-valuemax="100"
                 style="width:30%;height:30px">

                <h5 class="text-center">
                    {{progress}}
                </h5>
            </div>

        </div>
    </div>
    <br />

    <div id="form-div">
        <form id="upload-form"
              method="post"
              asp-controller="Upload"
              asp-action="Index"
              enctype="multipart/form-data">

            <input id="file-upload-input" name="File" type="file" multiple />
            <br />
            <br />
            <button type="button" onclick="uploader.upload();" class="btn btn-primary btn-block">
                Submit
            </button>
        </form>
    </div>

</div>

@section scripts{

    <script src="~/lib/bootstrap-fileinput/js/fileinput.min.js"></script>

    <script src="~/js/uploader.js"></script>

    <script type="text/javascript">

        var uploader = new Uploader("#file-upload-input", "#vue-div");

    </script>
}