@{
    ViewData["Title"] = "Home Page";
}

@section styles{

    <link href="~/lib/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet" />
}


<h3>
    Upload your file
</h3>
<br/>

<div id="main-content" style="padding:20px;">
   
    <form id="upload-form" action="/file-upload" class="dropzone">
        <input id="file-upload-input" name="file" type="file" multiple />

        <br />
        <br />

        <button type="button" onclick="block('#main-content')" class="btn btn-primary btn-block">
            Submit
        </button>
    </form>

</div>

@section scripts{

    <script src="~/lib/bootstrap-fileinput/js/fileinput.min.js"></script>

    <script src="~/js/uploader.js"></script>

    <script type="text/javascript">

        var uploader = new Uploader("#file-upload-input");

    </script>
}