@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<markdown normalize-whitespace="false">
    # Hello world

https://vuejs.org/v2/examples/

    * This is a test
    * What is that ?

    ## Welcome Aboard
</markdown>