@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<markdown normalize-whitespace="true">
    # Hello world

    https://vuejs.org/v2/examples/

    * This is a test
    * What is that ?

    ## Welcome Aboard

    > Block text

    | Tables        | Are           | Cool  |
    | ------------- |:-------------:| -----:|
    | col 3 is      | right-aligned | $1600 |
    | col 2 is      | centered      |   $12 |
    | zebra stripes | are neat      |    $1 |
    | What the fuck | none dude     |   W   |
</markdown>